
/build/*
!/build/.gitkeep

/stock_firmware/yi_home_1080p_6FUS_450/*
!/stock_firmware/yi_home_1080p_6FUS_450/.gitkeep
/stock_firmware/yi_dome_1080p_6FUS_460/*
!/stock_firmware/yi_dome_1080p_6FUS_460/.gitkeep

/sysroot/*
!/sysroot/.gitkeep

/out
/bin

# The following files are ignored because they need some cleanup
REQUIRED_PACKAGES
INIT_SUBMODULES.md

*.DS_Store
